/*ESTILOS PARA PESTAÑA CONTACTO---------------------*/


.contacto-container {
    @include textPadding(center,20px);
    @include widthMaxW(90%,500px);
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);

    h2 {
        color: rgb(255, 20, 147);
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    p {
        color: rgb(200, 220, 255);
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    form {
        @extend %flexBasico;
        gap: 15px;
    }

    label {
        font-weight: bold;
        text-align: left;
        display: block;
    }

    input,
    textarea {
        @include border(2px solid rgba(0, 255, 255, 0.5),5px);
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(200, 220, 255);
        font-size: 16px;
    }

    textarea {
        resize: vertical;
    }

    button {
        @include border(2px solid rgba(0, 255, 255, 0.5),10px);
        background-color: rgb(0, 255, 255);
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px;
        box-shadow: 5px 5px 10px rgba(0, 255, 255, 0.5);
        cursor: pointer;

        &:hover {
            background-color: rgb(255, 20, 147);
            transform: scale(1.05);
        }
    }
}