/*Ajustes para diferentes pantallas Mobile: 320px y Desktop: 800px*/


/*---------------Media------------*/


@media (min-width: 800px) {
    .contenedorSecciones {
        flex-direction: row;
        justify-content: space-around;
    }
}



@media (max-width: 799px) {
    .contenedorSuperior {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        text-align: center;
    }

    .navbar-collapse {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
      }
    
      .navbar-collapse.show {
        opacity: 1;
        transform: translateY(0);
        background-color: rgba(0, 0, 0, 0.9);
        padding: 15px;
        border-radius: 0 0 10px 10px;
        pointer-events: auto;
    
        .nav-link {
          display: block;
          padding: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
      }

    .contenedorSecciones {
        flex-direction: column;
        align-items: center;
    }

    .descripcion img {
        max-width: 100%;
        height: auto;
    }

    .descripcion h1{
        font-size: 2.5em;
    }

    .descripcion p {
        font-size: 1rem;  
        padding: 0 15px;  
    }

    .descripcion {
        padding-top: 20px;
    }

    .pros ul {
        display: block;
        padding: 0;
        text-align: center;
    }

    .pros li {
        font-size: 14px;
        padding: 8px;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 1.2em;
    }

    .contacto-container {
        width: 95%;
        padding: 15px;
    }

    .contacto-container {
        width: 95%;
        padding: 15px;
    }

    .mouses-container {
        padding: 30px 10px;
    }

    .card-body p {
        font-size: 1em;
    }

    .btn {
        width: 100%;
        padding: 12px;
    }
}
